<script lang="ts">
import ObjectRenderer from "./ObjectRenderer.svelte";

    export let value;
</script>

<div class="p-2 flex flex-col items-start">
    {#each value as val}
    <div class="rounded bg-zinc-900 overflow-hidden mb-1 flex">
        <ObjectRenderer value={val} />
    </div>
    {/each}
</div>