<script lang="ts">
    import ObjectRenderer from "./ObjectRenderer.svelte";

    export let info;
</script>

{#each info as layer}
    <div class="mb-2 border rounded overflow-hidden">
        <div class="px-2 py-1 bg-zinc-800">{ layer['@type'] }</div>
        <ObjectRenderer value={layer} />
    </div>
{/each}