<script lang="ts">
import ArrayRenderer from "./ArrayRenderer.svelte";

    export let value;

    function filteredKeys(obj: any): string[] {
        return Object.keys(obj).filter(k => !k.startsWith("@"))
    }
</script>

<div class="p-2 -mb-1 flex flex-col items-start">
    {#each filteredKeys(value) as key}
    <div class="rounded overflow-hidden mb-1 flex">
        <span class="bg-zinc-800 px-1">{key}</span>
        <span class="bg-zinc-700 px-1">
            {#if typeof value[key] === 'string' || typeof value[key] === 'number'}
            {value[key]}
            {:else if Array.isArray(value[key])}
            <ArrayRenderer value={value[key]} />
            {:else}
            can't render
            {/if}
        </span>
    </div>
    {/each}
</div>