<script lang="ts">
  import FileInfo from "./lib/FileInfo.svelte";

  const invoke = window.__TAURI__.invoke;
  let currentDir = '';
  let files = [];
  let fileInfo = null;
  let currentInfo = null;
  let infoLoadError = null;
  let dirLoadError = null;

  $: {
    console.log("updating directory")
    if (currentDir !== '') loadDirectory(currentDir)
  }

  async function loadDirectory(path: string) {
    currentInfo = null;
    fileInfo = null;
    infoLoadError = null;
    try {
      files = await invoke('list_files_in_dir', {path})
      dirLoadError = null;
    } catch (e) {
      dirLoadError = e;
    }
  }

 (async () => {
  currentDir = await invoke('get_cwd')
 })()
  
  async function showFileInfo(path: string) {
    console.log("showFileInfo", path)
    currentInfo = path;
    try {
      fileInfo = await invoke('get_file_info', {path: path})
      console.log(fileInfo)
      infoLoadError = null;
    } catch (e) {
      infoLoadError = e;
    }
  }

  function clickedOnFile(file: any) {
    if (file.kind == "file") {
      showFileInfo(file.path)
    } else {
      currentDir = file.path
    }
  }

  function navigateUp() {
    const li = currentDir.lastIndexOf('/')
    currentDir = currentDir.slice(0, li)
  }
</script>

<div class="bg-zinc-900 text-white h-screen flex overflow-hidden">
  <div class="flex-1 flex flex-col">
    <div class="p-2 border-b flex">
      <button class="text-2xl mr-2" on:click={navigateUp}>⬆️</button>
      <input class="w-full border rounded bg-zinc-800 px-2 py-1" value={currentDir} on:change={e => currentDir = e.target.value}>
    </div>
    {#if dirLoadError}
    {dirLoadError}
    {:else}
    <div class="overflow-auto">
      <ul>
        {#each files as file}
        <li class="p-1 border-b cursor-pointer" class:bg-zinc-800={ file.path === currentInfo } on:click={_ => clickedOnFile(file)}>
          { file.kind == "folder" ? '📁' : '📄'}
          { file.displayName }
        </li>
        {/each}
      </ul>
    </div>
    {/if}
  </div>
  {#if infoLoadError}
  <div class="w-1/2 border-l p-2 overflow-auto">
    {infoLoadError}
  </div>
  {:else if fileInfo !== null}
  <div class="w-1/2 border-l p-2 overflow-auto">
    <FileInfo info={fileInfo}/>
  </div>
  {/if}
</div>
